<%= form_with(model: order) do |form| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
        <% order.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :ordernumber %>
    <%= form.text_field :ordernumber %>
  </div>

  <div class="field">
    <%= form.label :dateoforder %>
    <%= form.text_field :dateoforder %>
  </div>

  <div class="field">
    <%= form.label :orderstatus %>
    <%= form.text_field :orderstatus %>
  </div>

  <div class="field">
    <%= form.label :billingaddress %>
    <%= form.text_field :billingaddress %>
  </div>

  <div class="field">
    <%= form.label :shoppingaddress %>
    <%= form.text_field :shoppingaddress %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
